html {
    font-family: Arial, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    color: #333;
    background-color: AliceBlue;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav li a:hover {
    background-color: DarkOrange;
    color: #fff;
}

nav li a {
    text-decoration: none;
    color: #333;
    padding: 10px;
}

body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

main {
    text-align: left;
}